* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(214, 113, 113);
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell.winning {
  background-color: green;
}

#newGameButton, #resetButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#newGameButton:hover, #resetButton:hover {
  background-color: gray;
}

.scoreBoard {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

#statusText {
  font-size: 1.2rem;
  margin-top: 20px;
}
